.container {
    width: 80%;
    display: block;
    justify-content: center;
    margin: auto;
}

.introduction {
    height: 100vh;
    background-color: green;
}

.jf{
    height: 100vh;
    background-color: yellow;
}
.join{
    height: 100vh;
    background-color: red;
}
.contact{
    height: 100vh;
    background-color: teal;
}

